html {
  height: 100%;
}

body {
  font-family: sans-serif;
  background-image: url("images/summerfest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  min-height: 100%;
}
